.site-header nav {
	ul {
		padding: 0px;
		margin: 0px;
		@extend .group;
	}
	li {
		list-style: none;
		float: left;
		margin-right: 10px;
	}
	a {
		display: block;
		padding: 10px;
		background-color: $primaryColor;
		color: #FFFFFF;
		text-decoration: none;

	}
}
