/* CUSTOM FONTS */

@font-face {
	font-family: 'PT Sans';
	src: 	url('../fonts/PT-Sans.woff') format('woff'),
				url('../fonts/PT-Sans.ttf') format('truetype'),
				url('../fonts/PT-Sans.svg#pt_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PT Sans';
	src: 	url('../fonts/PT-Sans-Bold.woff') format('woff'),
				url('../fonts/PT-Sans-Bold.ttf') format('truetype'),
				url('../fonts/PT-Sans-Bold.svg#pt_sansbold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'PT Sans';
	src: 	url('../fonts/PT-Sans-Italic.woff') format('woff'),
				url('../fonts/PT-Sans-Italic.ttf') format('truetype'),
				url('../fonts/PT-Sans-Italic.svg#pt_sansitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'PT Sans';
	src: 	url('../fonts/PT-Sans-BoldItalic.woff') format('woff'),
				url('../fonts/PT-Sans-BoldItalic.ttf') format('truetype'),
				url('../fonts/PT-Sans-BoldItalic.svg#pt_sansbold_italic') format('svg');
	font-weight: bold;
	font-style: italic;
}

/* GENERIC HTML */
html {
	background-color: #869960;
}

body {
	/*font-family: Tahoma, sans-serif;*/
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	margin: 0px;
}

img {
	max-width: 100%;
	height: auto;
}
a {
	text-decoration: none;
}
.container {
	max-width: 940px;
	margin: 0px auto;
	padding-left: 40px;
	padding-right: 40px;
}

header {
	padding-top: 20px;
	color: #FFFFFF;
	background-color: #617140;
}
header h1 {
	margin: 0px;
	font-weight: normal;
	font-size: 165%;
	letter-spacing: 4px;
	word-spacing: 5px;
	text-shadow: 2px 1px 3px #999999;
}
header p {
	margin: 0px;
}


/* SITE NAVIGATION */

.site-nav {
	margin-top: 20px;
}
.site-nav ul {
	padding: 0px;
	margin: 0px;
}
.site-nav li {
	list-style: none;
	float: left;
	margin-right: 5px;
}
.site-nav a {
	display: block;
	text-decoration: none;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: 300;
	padding: 10px 20px;
	border: 3px solid #D6E1D0;
	border-bottom: none;
}
.site-nav a:hover {
	background-color: #EFF4EC;
}

/* CONTENT AREA */

.content-area {
	border-top: 3px solid #D6E1D0;
	border-bottom: 3px solid #D6E1D0;
	font-size: 95%;
	background-color: #FFFFFF;
}

.content-area p {
	text-align: justify;
	/*text-indent: 10px;*/
	line-height: 1.3;
}
.main-area {
	width: 66%;
	float: left;
	padding-right: 40px;
	box-sizing: border-box;
}

/* Birds Background Demo */
.birds {
	margin: 0px;
	/*background-color: #C2BBB1;
	background-image: url(../images/bird.jpg);
	background-position: center center;
	background-repeat: no-repeat;*/
	background: #C2BBB1 url(../images/bird.jpg) center center no-repeat;
	background-size: cover;
	text-align: center;
	padding: 100px 0px;
}
.birds p {
	background-color: rgba(0, 0, 0, 0.7);
	color: #FFFFFF;
	text-shadow: 1px 1px 0px #000000;
	display: inline-block;
	margin: 0px auto;
	padding: 10px;
}

/* UI MENU */
.ui-menu ul {
	margin: 0px;
	padding: 0px;
}
.ui-menu li {
	float: left;
	list-style: none;
	margin-right: 20px;
}
.ui-menu a {
	display: block;
	width: 50px;
	height: 50px;
	background-image: url(../images/sprites.png);
	background-repeat: no-repeat;
	text-indent: -9999px;
}
.ui-profile a {
	background-position: 0px -50px;
}
.ui-settings a {
	background-position: 0px -100px;
}
.ui-home a:hover {
	background-position: -50px 0px;
}
.ui-profile a:hover {
	background-position: -50px -50px;
}
.ui-settings a:hover {
	background-position: -50px -100px;
}


/* SIDEBAR */
.sidebar {
	position: relative;
	width: 34%;
	float: left;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	box-sizing: border-box;
	font-size: 95%;
	background-color: #E5E9DC;
	background-image: linear-gradient(to bottom, #D6E1D0, #FFFFFF);
	display: flex;
}


/* banner overlay */

.image-banner {
	position: relative;
	padding: 0px;
	left: 0px;
	z-index: 100;
}
.image-banner img {
	display: block;
}
.banner-description {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.7);
	margin-bottom: 0px;
	padding: 5px 15px;
}

/* Table Styles */

.table-home {
	display: block;
	margin: 20px 0px 40px;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
}

table th {
	text-align: left;
	background-color: #869960;
	color: #FFFFFF;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
}

table th,
table td {
	border: 1px solid #869960;
	padding: 10px;
	vertical-align: top;
}
table tbody tr:nth-child(even) td {
	background-color: #E5E9DC;
}
.col-item-name {
	width: 60%;
}
.col-quantity,
.col-price {
	width: 20%;
}
table.grocery-list tr :nth-child(2),
table.grocery-list tr :nth-child(3) {
	text-align: center;
}


/* FORM STYLES */

form {
	background-color: #ECECEC;
	padding: 30px 40px;
	margin-bottom: 20px;
}
.hidden-label {
	position: absolute;
	height: 0;
	width: 0;
	overflow: hidden;
	visibility: hidden;
}

input {
	font-family: Tahoma, sans-serif;
	font-size: 100%;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
input[type="tel"],
select {
	width: 100%;
	display: block;
	box-sizing: border-box;
	padding: 0px 10px;
	height: 40px;
	margin-bottom: 15px;
	border: 1px solid #CDCDCD;
}
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus {
	border: 1px solid #869960;
	box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.13);
	outline: none;
}
select,
select:link,
select:visited,
select:focus,
select:active {
	border: none;
	outline: none;
}
input[type="submit"] {
	width: 100%;
	display: block;
	box-sizing: border-box;
	color: #FFFFFF;
	padding: 10px 0px;
	background-color: #869960;
	border: 1px solid #798A56;
	border-radius: 3px;
	margin-bottom: 10px;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
	background-color: #798A56;
	outline: none;
	cursor: pointer;
}
.checkbox-text {
	font-size: 85%;
	color: #777777;
}

/* FOOTER */

footer {
	text-align: center;
	font-size: 90%;
	color: #eeffcb;
	padding-top: 20px;
	padding-bottom: 20px;
}





.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1;
}
